<div id="modal-device" class="modal">
	<h2>Device</h2>
	<p id="modal-device-name">Device Name:</p><br>
	<p id="modal-device-type">Device Type:</p><br>
	<p id="modal-device-availability">Device Availability:</p>
	<button class="modal-close"></button>
</div>

<div id="modal-add-property" class="modal">



	<button class="modal-close"></button>
</div>

<div id="modal-properties-admin" class="modal">
	<h2>Manage Properties</h2>
	<div>
		<form id="admin-properties-prop-form">
			<h3>Create Property</h3>
			<input id="admin-add-prop-input"><button id="admin-add-prop-button">&#x2b;</button>
			<h3>Delete Property</h3>
			<select id="admin-delete-prop-select"></select><button id="admin-delete-prop-button">&#x2212;</button>
		</form>

		<form id="admin-properties-value-form">
			<h3>Add Value</h3>
			<select id="admin-add-value-select"></select>
			<input id="admin-add-value-input"><button id="admin-add-value-button">&#x2b;</button>
			<h3>Remove Value</h3>
			<select id="admin-del-value-select"></select><button id="admin-del-value-button">&#x2212;</button>
		</form>
	</div>



	<button class="modal-close"></button>
</div>

<div id="modal-device-admin"class="modal">
	<h2>Manage Devices</h2>
	<div>
		<form class="admin-manage-device-form">
			<h3>Check In</h3>
			<select id="admin-device-check-in-select"></select>
			<button id="admin-check-in-button">Check In</button>
		</form>
	</div>

	<div>
		<form class="admin-manage-device-form">
			<h3>Check Out</h3>
			<select id="admin-device-check-out-select"></select>
			<select id="admin-user-check-out-select"></select>
			<button id="admin-check-out-button">Check Out</button>
		</form>
	</div>

	<div>
		<h3>Delete Device</h3>
		<select id="admin-device-delete-select"></select>
		<button id="admin-device-delete-button">Delete</button>
	</div>

	<button class="modal-close"></button>
</div>
