<div id="main-signup">
	<form id="main-signup-form" class="auth-form">
		First Name:<br>
		<input type="text" name="first-name" id="first-name-field">
		<br>
		Second Name:<br>
		<input type="text" name="second-name" id="second-name-field">
		<br>
		Phone Number:<br>
		<input type="text" name="number" id="phone-number-field">
		<br>
		Email:<br>
		<input type="text" name="email" id="email-field">
		<br>
		Password:<br>
		<input type="text" name="password" class="password-field"><br>
		Confirm password:<br>
		<input type="text" name="password-confirm" class="password-field"><br>

		<button id="signupButton">Sign Up</button>


	</form>
</div>
