<div id="main-signup">
	<form id="main-signup-form" class="auth-form">
		<p class="form-heading">First Name:</p>
		<input type="text" name="first-name" id="first-name-field" class="form-input">

		<p class="form-heading">Second Name:</p>
		<input type="text" name="second-name" id="second-name-field" class="form-input">

		<p class="form-heading">Phone Number:</p>
		<input type="text" name="number" id="phone-number-field" class="form-input">

		<p class="form-heading">Email:</p>
		<input type="text" name="email" id="email-field" class="form-input">

		<p class="form-heading">Password:</p>
		<input type="text" name="password" class="password-field form-input">
		<p class="form-heading">Confirm password:</p>
		<input type="text" name="password-confirm" class="password-field form-input">
		<br>
		<button id="signupButton" class="form-button">Sign Up</button>


	</form>
</div>
