<div class="tabs">
	<div class="tab">
		<input type="radio" id="tab-1" name="tab-group-1" checked>
		<label for="tab-1">Check in/out</label>
		<div class="tab-content">
			Device Check in/out tab section
		</div>
	</div>

	<div class="tab">
		<input type="radio" id="tab-2" name="tab-group-1">
		<label for="tab-2">Register Device</label>

		<div class="tab-content">
			New device registration tab section
		</div>
	</div>

	<div class="tab">
		<input type="radio" id="tab-3" name="tab-group-1">
		<label for="tab-3">Admin</label>
		<div class="tab-content">
			Admin tab section
		</div>
	</div>
</div>
