<div class="tabs">
	<div class="tab">
		<input type="radio" id="tab-1" name="tab-group-1" checked>
		<label for="tab-1">Check in/out</label>
		<div class="tab-content">
			<p>Current Devices<span id="device-out-counter"></span></p>
			<ul id="device-out-list">

			</ul>

			<p>Check Out New Device</p>
			<select id="device-select-out"></select><br>
			<input type="time" name="check-out-time" min="09:00" max="18:00" id="device-time-out"><input type="date" name="check-out-date" id="device-date-out"><br>
			<button id="device-button-out">Check Out</button>
		</div>
	</div>

	<div class="tab">
		<input type="radio" id="tab-2" name="tab-group-1">
		<label for="tab-2">Register Device</label>

		<div class="tab-content">
			<form id="main-device-form">

				<p class="form-heading">Device Name/Serial Number:</p>
				<input type="text" name="device-name" id="device-name-field">

				<p class="form-heading">Device Type:</p>
				<input type="text" name="device-type" id="device-type-field">

				<p class="form-heading">Device Notes:</p>
				<input type="text" name="device-notes" id="device-notes-field">

				<button id="register-device-button">Register</button><p id="completed-register"></p>

			</form>
		</div>
	</div>

	<div class="tab">
		<input type="radio" id="tab-3" name="tab-group-1">
		<label for="tab-3">Admin</label>
		<div class="tab-content">
			Admin tab section
		</div>
	</div>
</div>
